<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953812443127-agfdtv040hdelubrp50kmd7mr46nlcdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953812443127-agfdtv040hdelubrp50kmd7mr46nlcdi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>953812443127-3b8535ralgptkmhavn4plknnj0am7sqd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHswP0uwoZ6ttumZmFRTF0d1g3YAnoTdU</string>
	<key>GCM_SENDER_ID</key>
	<string>953812443127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medflixofficial.app</string>
	<key>PROJECT_ID</key>
	<string>medflixofficial</string>
	<key>STORAGE_BUCKET</key>
	<string>medflixofficial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953812443127:ios:30d3e92b8a200d109b18f2</string>
	<key>DATABASE_URL</key>
	<string>https://medflixofficial-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>